.largura{
  width: 700px;
  margin: auto;
}

.menu{
  font-family:'Lobster', cursive;
  font-size: 18px;
  width: 600px; 
  margin: auto; 
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

  .menu > a{
    text-decoration: none; 
    color: black;
    margin-right: 20px;
  }

  .menu > a:visited{
    color: #e5ccff;
  }

  .menu > a:hover{
    color: #ffcce6;
  }

  h1{
    font-family: 'Amatic SC', cursive;
    border-bottom: 2px dotted black;
    padding-bottom: 5px;
    
  }

  .conteudo{
    line-height: 32px;
    font-family: 'Bad Script' , cursive;
  }

  .img-principal{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .selecionado{
    border-bottom: 2px dotted black;
    
  }

  .lateral1{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .lateral2{
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .lateral3{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .lateral4{
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  body{
    background: #ffe6f3;
  }
